@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Noto+Sans&display=swap');

.project-font{
    font-family: 'JetBrains Mono', monospace;
  }
.student{
    font-weight: 500;
    font-size: 35px;
    color: #607D8B;
    line-height: 45px;
}
.unique{
    font-size: 25px;
    font-weight:bolder;
    line-height: 30px;
    color: #009688;
}
.relative{
    position: relative;
    top: 0;
    left: 0;
}
.absolute1{
    position: absolute;
    top:10px;
    padding:10px
}
.absolute2{
    padding:10px;
}
.img1{
    padding:10px;
    width: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.img2{
    padding:10px;
    width: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}