<div class="container-fluid">
    <div class="row p-2">
      <div class="col-md-5 card p-3" >
        <h1 class="text-left  student">Student Activity Blog</h1>
        <h4 class="unique">
          Inspire your fellow students by sharing your unique ideas
        </h4>
        <div>
          <p>
            students share a common desire for learning and dedication to improve
            their lives through further education
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <button mat-fab extended style="background-color: salmon">
              Learn about the latest blogs
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-7 container-fluid">
        <div class="row  relative">
          <div class="col-md-6 card-body">
            <div class="absolute1">
              <img src="assets/images/activity1.jpg" class="img1" alt="" />
            </div>
          </div>
          <div class="col-md-6 card-body">
            <div class="absolute2">
              <img src="assets/images/activity2.jpg" class="img2" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  