<div class="">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Alumnis </mat-panel-title>
        <mat-panel-description>
          {{ panelOpenState ? "open" : "closed" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table table-hover">
        <tbody *ngFor="let user of users">
          <tr> 
            <th>
              <div class="box">
                <img class="profile" src="{{user.profile_image}}" alt="">
              </div>
            </th>
            <td class="t1" >{{user.first_name}} {{user.last_name}}</td>
            <td class="t1"></td>
            <td class="t1">{{user.course_end_year}}</td>
            <td class="t1">{{user.company}}</td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState1 = true"
      (closed)="panelOpenState1 = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Students </mat-panel-title>
        <mat-panel-description>
          {{ panelOpenState1 ? "open" : "closed" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>
                <div class="box">
                  <img class="profile" src="{{list_image}}" alt="">
                </div>
              </th>
              <td class="t1" >Albert Einstein</td>
              <td class="t1">CSE</td>
              <td class="t1">2020</td>
              <td class="t1">Accenture</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
