<div>
    <mat-toolbar  color="primary">
        <mat-toolbar-row>
          <span [routerLink]="'/'" class="project-title title">{{title}}</span>
          <span class="example-spacer"></span>
          <div>
            <a mat-button routerLink='/about' class="project-title" fxHide fxShow.gt-sm > About </a>
            <a mat-button routerLink='/register' class="project-title" fxHide fxShow.gt-sm> Join </a>
            <a mat-button routerLink="/login" class="project-title" fxHide fxShow.gt-sm> Signin </a>
            <button  mat-icon-button  fxShow fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
             </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>  

      <mat-toolbar class="secondToolbar"  [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}" color="primary" >
        <mat-toolbar-row>
          <span [routerLink]="'/'" class="project-title title">{{title}}</span>
          <span class="example-spacer"></span>
          <div>
            <a mat-button routerLink='/about' class="project-title" fxHide fxShow.gt-sm > About </a>
            <a mat-button routerLink='/register' class="project-title" fxHide fxShow.gt-sm> Join </a>
            <a mat-button routerLink="/login" class="project-title" fxHide fxShow.gt-sm> Signin </a>
            <button  mat-icon-button  fxShow fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
             </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar> 
</div>


  
