@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Noto+Sans&display=swap');


.project-title{
  font-family: 'JetBrains Mono', monospace;
}
.example-spacer {
    flex: 1 1 auto;
  }
  

  .secondToolbar {
    position: fixed;
    background: rgb(170 170 170 / 25%);
    backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
    top: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out, height 0.15s ease;
    cursor: default;
    user-select: none;
  }
  .sticky {
    height: 64px;
    opacity: 1;
    z-index: 999;
    transition: opacity 0.25s ease-out, height 0.15s ease;
  }
/* using FlexLayoutModule */


/* .fill-remaining-space {
  flex: 1 1 auto;
} */

/* mat-toolbar.sticky{
  background-color: rgba(0, 0, 0, 0.961);
  background: rgba(0, 0, 0, 0.51);;
  backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  } */
  /* mat-toolbar{
      background-color: rgba(0, 0, 0, 0.961);
  color: rgb(255, 255, 255);
  } */


/* sidebar */