@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Noto+Sans&display=swap');

.project-title{
  font-family: 'JetBrains Mono', monospace;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .sticky{
    position: sticky;
    top: 0;
}
  