<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="box">
        <img src="assets/images/nsec_logo.png" class="p-image" alt="" />
      </div>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>Electric Engineer 2009 batch</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="p-2">
        Our beloved and talented student <strong style="color:#1a73e8">Rishiraj Acharya</strong>  from 2nd year CSE has
        been selected as a course instructor in one of the worlds pioneer
        university, Stanford University.
      </p>
    </mat-card-content>

    <img
      mat-card-image
      src="assets/images/activity5.jpg"
      alt="Photo of a Shiba Inu"
    />

    <mat-card-actions>
      <div class="absolute-1">
        <button mat-button><mat-icon>thumb_up_alt</mat-icon>Like</button>
      </div>
      <div class="absolute-2">
        <button mat-button><mat-icon>comment</mat-icon>Comment</button>
      </div>
      <div class="absolute-3">
        <button mat-button><mat-icon>share</mat-icon>Share</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
