@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
.relative{
    position: relative;
    top: 0px;
}
.info{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    font-family: 'JetBrains Mono', monospace;
    /* font-weight: 900; */
    color: white;
    font-size: 30px;
}

.mat-mdc-form-field{
    width: 98%;
    margin: 1%;
 }
