<div>
    <div class="card-body">
        <div class="relative">
            <img src={{help}} alt="" class="img-fluid ">
            <div class="info">
                <h1 class="text-center text">Hi,{{userName}} we're here to help.</h1>
                <div class="container">
                      <mat-form-field appearance="fill">
                        <mat-label>How can we help?</mat-label>
                        <input matInput  />
                        <mat-icon  matSuffix >search</mat-icon>
                      </mat-form-field>
                </div>
            </div>
        </div> 
    </div>
</div>