<app-appbar></app-appbar>
<div class="container-fluid">
  <!-- <div class="container-fluid background">
    <div class="m-lg-3">
        <h1 class="text-center">About Alumni Network</h1>
    </div>
</div> -->
  <div class="about-card">
    <div class="row">
      <div class="col-md box relative" style="background-color: #032d42;">
        <div >
          <div class="absolute">
            <p class="h3 p-2 text-center text"style="color:white" >About <span style="color:#62d84e">Us</span></p>
            <!-- <p>
              Are you looking to increase your professional network by meeting
              fellow alumni in your college? Do you want to broaden your
              horizons by joining a global network of graduates? Are you
              interested in developing your own leadership skills and boosting
              your CV and career by mentoring a current Trinity student or
              recent graduate? Would you like to connect with Trinity offer
              holders to talk about why you chose Trinity and what it's meant
              for you?
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-md">
        <img src="assets/images/about-alumni.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
  <div>
    <div class="card-body mb-3">
      <div class="row g-0">
        <div class="col-md-5 p-5">
          <img src="assets/images/alumni-banner.jpg" class="img-fluid" alt="" />
          <h1 class="text-center text1">Our Vision and Mission Statement</h1>
          <p class="card-text">
            The mission of the<strong style="color: #009688">
              Alumni Network
            </strong>
            is to open channels of communication between the college and the
            alumni and provide them with the optimum careers guidance . The
            Alumni Network is also keen to provide the graduates with the
            necessary training that will enable them to respond actively
            requirements. The Network sets up mechanisms to maintain contact
            between the alumni and the college on the one hand and the regional
            and local community institutions on the other hand.
          </p>
          <div class="d-flex justify-content-center">
            <button mat-flat-button color="primary" routerLink="/register">
              Join now
            </button>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 p-5">
                <div class="card card-vision">
                  <img src="assets/images/profile.jpg" class="img1" alt="" />
                  <div class="vision m-5">
                    <p class="text-center p-2 vm">Vision</p>
                  </div>

                  <p class="card-text text-left p-2">
                    NSEC Alumni Network shall serve as a platform to bridge the
                    gap of student alumni interaction driven by the ideals and
                    values that shall ensure the upliftment of both present and
                    future alumnus with support to build a social, knowledgeable
                    and motivational capital for Netaji Subhash Engineering
                    College and its students.
                  </p>
                </div>
              </div>
              <div class="col-md-6 p-5">
                <div class="card card-mission">
                  <img src="assets/images/profile.jpg" class="img2" alt="" />
                  <div class="mission m-5">
                    <p class="text-center vm p-2">Mission</p>
                  </div>
                  <p class="card-text text-left p-2">
                    NSEC Alumni Network shall serve as a platform to bridge the
                    gap of student alumni interaction driven by the ideals and
                    values that shall ensure the upliftment of both present and
                    future alumnus with support to build a social, knowledgeable
                    and motivational capital for Netaji Subhash Engineering
                    College and its students.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <img src="assets/images/about-alumni.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
