
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Noto+Sans&display=swap');
.activity{
    font-size: 250%;
    font-weight: 900;
    line-height: 45px;  
    font-family: 'Noto Sans', sans-serif;
}
.btn:hover{
    background-color: #073042;
    color: white;
}
.developer{
    color: #616161;
    font-weight: bolder;
    font-size: 230%;
font-family: 'Noto Sans', sans-serif;
}