<div class=" ">
    <mat-card>
      <mat-card-header class="example-card">
        <div class="box">
          <img class="user_image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRD3XP0y2U4ZVpcGsaFUu-tmM7-aD0Luj6FgQgqdJc&s" alt="">
        </div>
        <button type="button" class="btn text-start  btn-lg btn-block post-input">Create Post</button>
      </mat-card-header>
      <mat-card-content>
        <div class=" p-2 ">
          <div class="example-button-row d-flex justify-content-center">
            <button mat-button color="primary"> <mat-icon>image</mat-icon>Image</button>
            <button mat-button color="accent"> <mat-icon>video_library</mat-icon>Video</button>
            <button mat-button color="warn"><mat-icon>event</mat-icon>Event</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  