.example-card{
    position: relative;
    top: 0;
}
.example-header-image {
    position: absolute;
    top:10px;
    left:20px;
    background-size: cover;
    width:55px;
    height: 55px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.post-input{
    position: absolute;
    left: 100px;
    width: calc(100%/1.4);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#input{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
