/* .example-card{
    position: relative;
    top: 0;
} */

.box{
    width:50px;
    height:50px;
    border-radius: 100%;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.user_image{
    width: 100%;
    height:100%;
    object-fit: cover;
}
mat-card{
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
}
/* .example-header-image {
    position: absolute;
    top:10px;
    left:20px;
    background-size: cover;
    width:55px;
    height: 55px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}*/
.post-input{
    margin-left: 15px;
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    border: 1px solid #e9e9e9 ;
  
    font-size: 15px;

} 
.post-input:hover{
    background-color: #e9e9e9;
}
/* #input{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
} */
