<div class="container-fluid">
    <button mat-raised-button (click)="isOptional = !isOptional">
        {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
      </button>
      
      <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Sign Up</ng-template>
            
            <div class="">
                <div class="row">
                  <div class="col-md-4">
                    <img src="assets/images/avatar2.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-md-7">
                    <mat-card>
                      <mat-card-content>
                        <mat-form-field appearance="outline" class="mat-50">
                          <mat-label>First Name</mat-label>
                          <input matInput placeholder="Albert"  formControlName="firstName" required/>
                          <mat-error  *ngIf="firstFormGroup.get('firstName')?.touched && firstFormGroup.get('firstName')?.errors ">First name is <strong> required </strong></mat-error>
                        </mat-form-field>
              
                        <mat-form-field appearance="outline" class="mat-50">
                          <mat-label>Last Name</mat-label>
                          <input matInput placeholder="Einstein" formControlName="lastName" required />
                          <mat-error  *ngIf="firstFormGroup.get('lastName')?.touched && firstFormGroup.get('lastName')?.errors">Last name is <strong> required </strong></mat-error>
                        </mat-form-field>
              
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="example123@example.com" type="email" formControlName="email"  required/>
                          <mat-icon  matSuffix>email</mat-icon>
                          <mat-error  *ngIf="firstFormGroup.get('email')?.touched && firstFormGroup.get('email')?.errors">Email is <strong> required </strong></mat-error>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                          <mat-label>Phone</mat-label>
                          <input matInput placeholder="Placeholder" type="number" formControlName="phone" required />
                          <mat-icon matSuffix>phone</mat-icon>
                          <mat-error  *ngIf="firstFormGroup.get('phone')?.touched && firstFormGroup.get('phone')?.errors">Phone number is <strong> required </strong></mat-error>
                        </mat-form-field>
              
                        <mat-radio-group color="primary" aria-label="Select an option" >
                          <mat-radio-button  formControlName="gender" value="Male">Male</mat-radio-button>
                          <mat-radio-button formControlName="gender" value="Female">Female</mat-radio-button>
                        </mat-radio-group><br>
                        
                        <mat-form-field id="outline" appearance="outline" >
                          <mat-label>Password</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" required/>
                          <button
                            mat-icon-button
                            matSuffix
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide"
                          >
                            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                          </button>
                          <mat-error  *ngIf="firstFormGroup.get('password')?.touched && firstFormGroup.get('password')?.errors">Paassword is <strong> required </strong></mat-error>
                        </mat-form-field>
              
                        <!-- <mat-form-field id="outline" appearance="outline" class="mat-50">
                          <mat-label>Confirm Password</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" />
                          <button
                            mat-icon-button
                            matSuffix
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide"
                          >
                            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                          </button>
                          <mat-error>error</mat-error>
                        </mat-form-field> -->
                      </mat-card-content>
                      <mat-card-actions class="relative">
                        <div class="absolute1">
                          <button mat-button id="forgot" routerLink="/login" > Sign in instead</button>
                        </div>
                        <div class="absolute2">
                          <button mat-raised-button color="primary"  matStepperNext [disabled]="firstFormGroup.get('password')?.errors && firstFormGroup.get('firstName')?.errors && firstFormGroup.get('lastName')?.errors && firstFormGroup.get('email')?.errors">Next</button>
                        </div>       
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </div>
              
            <!-- <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field> -->
            <!-- <div>
              <button mat-button matStepperNext>Next</button>
            </div> -->
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
</div>