<div >
  <!-- <app-toolbar></app-toolbar> -->
  <app-appbar></app-appbar>
    <div class="container-fluid">
      <div class="">
        <div class="p-2">
          <div class="row">
            <div class="col-md-7">
              <div class="p-2 mb-1 rounded-3">
                <div class="py-4">
                  <h1 class="text-center heading" >
                    Welcome To NSEC Alumni Community
                  </h1>
                  <p class="p-3 text-center">
                    Established in 2023, NSEC Alumni Association (NSECAN) creates
                    and maintains a life-long connection between NSEC and its
                    alumni. In collaboration with an extremely dedicated volunteer
                    Board of Directors, the Alumni Association works to connect
                    alumni, support students, and build an unforgettable Institute
                    experience through a diversity of events, programmes and
                    services.
                  </p>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="p-2">
                    <button mat-stroked-button  color="primary" [routerLink]="['/register']">
                      <mat-icon>person_add</mat-icon>
                      Signup
                    </button>
                  </div>
                  <div class="p-2">
                    <button mat-stroked-button  color="primary" [routerLink]="['/user-login']">
                      <mat-icon>person_pin</mat-icon>
                      Signin
                    </button>
                  </div>                
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="text-center p-3">
                <img src="assets/images/lnkdin.svg" alt=" " class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <article>
        <section>
          <div class="card p-2" style="background-color: #d7effe;">
            <app-activity></app-activity>
          </div>
        </section>
        <!-- <section>
          <div class="p-2">
            <img src="assets/images/home_banner.svg" class="img-fluid" alt="" style="width:100%">
          </div>
        </section> -->
        <section>
          <div class="row g-0">
            <div class="col-md-6">
              <div class="p-1 text-center " >
                <h1 class="activity" style="color: #616161">
                  Students <span style="color: #1a73e8">Activities</span> & <span
                    style="color: #1a73e8"
                    >programm </span
                  >/>
                </h1>
                <p class="text-left"  style="color:#616161;font-family: 'Noto Sans', sans-serif;">
                  Our students share a common desire for learning and dedication
                  to improve their lives through further education. Find out what
                  it's like to be part of the Netaji Subhash Engineering College
                  global student community and share your enthusiasm and
                  experiences with fellow students all over the world.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="p-2">
                <app-card-video></app-card-video>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row g-0">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <img src="assets/images/maps.png" class="img-fluid" alt="">
            </div>
          </div>
        </section>
      </article>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
  