<div>
  <mat-card class="mb-2">
    <div class="image-wrapper">
      <img
        src={{cover_image}}
        class="card-img-top img1"
        alt="..."
      />
      <button
      mat-icon-button
        matTooltip="Upload a photo to help your profile stand out"
        class="edit"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>photo_camera</mat-icon>
      </button>
      <div class="img2">
        <img
          src={{profile_image}}
          class="profile-image"
          alt=""
        />
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-end p-2">
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      
      <div class="name">
          <h1>{{first_name |titlecase}}  {{last_name| titlecase}} <span style="font-size: 12px; color: #616161;">{{role | titlecase}}</span></h1>
          <div >
              <mat-chip-set class="example-chip"cdkDropList cdkDropListOrientation="horizontal">
                  <mat-chip class="example-box"cdkDrag>#{{job_title}}</mat-chip>
                  <mat-chip class="example-box"cdkDrag>#datastructure & algorithm</mat-chip>
                  <mat-chip class="example-box"cdkDrag>#development</mat-chip>
              </mat-chip-set>
          </div>
          <div class="p-2">
            <p>{{address| titlecase}}</p>
          </div>
    </div>
     <ng-container *ngIf="first_name==first_name else notBlank"></ng-container>
     <ng-template #notBlank>
      <div class="name p-3">
        <button mat-raised-button  style="border-radius: 20px; background-color: #1a73e8;color:white"><mat-icon>add</mat-icon>Follow</button>
      </div>
     </ng-template>
  </div>
  </mat-card>
</div>
