<div >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Education</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-body">
            <div class="education-logo">
                <img src="{{ logo }}" alt="" class="img-fluid" />
            </div>
            <div class="info" >
                <p class="collegeName">Netaji Subhash Engineering College</p>
                <p>Btech Computer Science and Engineering</p>
                <p>2018 - 2022</p>
            </div>
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>
