@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

mat-card-title{
    font-family: 'JetBrains Mono', monospace;
}
.education-logo{
    width: 40px;
}

.card-body{
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
}
.collegeName{
    font-size: 14px;
    font-weight: 600;

    line-height: 0.5;
}
.stream{
    line-height: 0.9;
}

