<div >
    <mat-card>
        <mat-card-header>
            <mat-card-title class="relative">Skills</mat-card-title>
            <div class="example-button-row">
                <div class="example-flex-container absolute">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button  aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
            </div>
            
        </mat-card-header>
        <mat-card-content>
            <!-- <mat-divider></mat-divider> -->
            <div class="p-2">
                <p>Java</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
