<div class="container" >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="p-2">
          <img
            src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg"
            class="example-header-image"
            alt=""
          />
        </div>
        <mat-card-title style="margin-left: 15px;">Merida Avatar</mat-card-title>
        <mat-card-subtitle style="margin-left: 15px;"
          >Talent Acquisition Specialist at Amazon</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <img mat-card-image src="assets/images/AI.jpg" alt="Photo of a Shiba Inu" />
      <div class="p-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col">100+ likes</div>
            <div class="col">
              <p class="text-end">55 coments</p>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-card-actions class="relative">
        <div class="absolute-1">
          <button mat-button><mat-icon>thumb_up_alt</mat-icon>Like</button>
        </div>
        <div class="absolute-2">
          <button mat-button><mat-icon>comment</mat-icon>Comment</button>
        </div>
        <div class="absolute-3">
          <button mat-button><mat-icon>share</mat-icon>Share</button>
        </div>
        
      </mat-card-actions>
    </mat-card>
  </div>